@font-face {
    font-family: billabong; /* Имя шрифта */
    src: url(../fonts/billabong.ttf); /* Путь к файлу со шрифтом */
}
.content{
    background-color: #fafafa;
    padding-top: 30px;
}
.photo_on_page{
    height: 293px;
    width: 100%;
    margin-top: 30px;
    margin-right: 28px;
    margin-bottom: 28px;
}
.head_page_item{
    display: flex;
    width: 100%;
    margin-bottom: 5px;
}
.head_page{
    margin: 20px 0 60px 0;
}
.avatar-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.avatar{
    width: 150px;
    height: 150px;
    border-radius: 100%;
}
.head_page_item_login{
    font-size: 28px;
    line-height: 32px;
}
.head_page_item-count{
    font-size: 16px;
}
.head_page_item_count-number{
    margin-right: 5px;
    margin-left: 5px;
}
.info-user{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 0 8px 0;
}
.navbar-brand{
    font-family: billabong;
    font-size: 30px !important;
}
.url_profile_item{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}
.url_profile_item-img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 5px;
}
.start-box-profile-logo-text{
    font-family: billabong;
    font-size: 50px !important;
    display: flex;
    justify-content: center;
    width: 100%;
    color: #000;
    text-decoration: none;
}
.start-box-img{
    margin-left: 100px;
}
.start-box-profile-login{
    border: 1px solid #dbdbdb;
    border-radius: 1px;
    height: 350px;
    background-color: #fff;
}
.start-box-profile-register{
    border: 1px solid #dbdbdb;
    border-radius: 1px;
    height: 50px;
    background-color: #fff;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.start-box-profile-register-a{
    margin-left: 5px;
}
.photo_on_page_block{
    position: relative;
}
.photo_on_page_block_del{
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    cursor: pointer;
}
.photo_on_page_block:hover .photo_on_page_block_del{
    display: block;
}
.avatar-box{
    position: relative;
}
.header-width{
    display: flex;
    justify-content: space-between;
    width: 935px;
    margin: 0 auto;
}
.content{
    width: 100%;
    margin: 0 auto 30px;
    max-width: 935px;
    background: none;
}
.navbar{
    padding: 0 !important;
}
#app{
    background-color: #fafafa;
}
.avatar-modal {
    position: absolute;
    display: none;
    background-color: rgba(0,0,0,.65);
    z-index: 999;
    width: 100%;
    height: 170%;
}
.avatar-modal-box{
    width: 400px;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background: #fff;
    padding: 10px;
    border-radius: 12px;
    position: fixed;
}
.avatar-box img{
    cursor: pointer;
}
.avatar-modal-box div{
    display: flex;
    width: 100%;
    justify-content: center;
    cursor: pointer;
}
.avatar-modal-box div:active{
    background-color: rgba(0,0,0,.1);
}
.avatar-modal-title{
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    padding: 15px;
}
.avatar-modal-upload form{
    color: #0095f6;
    font-weight: 700;
    font-size: 14px;
}
.avatar-modal-delete form{
    color: #ed4956;
    font-weight: 700;
    font-size: 14px;
}
.avatar-modal-cancel{
    font-size: 14px;
}
.modal-photo-container{
    background: #0c88b4;
}
.modal-photo-container-photo{
    width: 600px;
    height: 600px;
}
/*.modal-content-comments_and_edit{*/
    /*width: 370px;*/
    /*height: 600px;*/
/*}*/
.modal-dialog-photo{
    max-width: 1000px !important;
    height: 600px !important;
}
.modal-content-photo{
    height: 600px !important;
}
.modal-content-comments_and_edit-name_user{
    border-bottom: 1px solid #efefef;
    display: flex;
    justify-content: space-between;
}
.modal-content_photo-comments_and_edit-name_user-container-photo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 72px;
    padding: 16px;
}
.modal-content_photo-comments_and_edit-name_user-photo{
    width: 32px;
    height: 32px;
    border-radius: 100%;
}
.modal-content-comments_and_edit-name_edit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
}
.hidden{
    display: none;
}
.modal-content-comments{
    padding: 20px;
}
.modal-content-comments_and_edit-comments{
    padding: 20px;
}
.head_page_item-count{
    margin-left: 5px;
}
